	<tr>
	    <td><%= pin.description %></td>
	    <td><%= link_to '顯示', pin %></td>
	    <% if current_user == pin.user%>
	    <td><%= link_to '編輯', edit_pin_path(pin) %></td>
	    <td><%= link_to '刪除', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>

	    <% end %>
	  </tr>