<h1>about</h1>

<p>

<%= link_to "我是一個關於我的連結","http://www.techbang.com" %>
喔耶測試一下
</p>
<p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://more.handlino.com/javascripts/moretext-1.2.js" type="text/javascript"></script>
我正在用<%= link_to "假文產生器","http://more.handlino.com/" %>胡說八道中！：「<span class="lipsum(10,50-100)"></span>」
</p>

